Repository fancom/zephyr, pull requests merged in 2021-07, with the labels that each got.

#15 Clock Control: Enable MCO for STM32H7
  drivers/clock_control/Kconfig.stm32
  drivers/clock_control/clock_stm32_ll_h7.c
Labels: platform: STM32

#16 drivers: ethernet: stm32: SRAM3 / MPU configuration
  drivers/ethernet/eth_stm32_hal.c
  soc/arm/st_stm32/stm32h7/CMakeLists.txt
  soc/arm/st_stm32/stm32h7/Kconfig.series
  soc/arm/st_stm32/stm32h7/mpu_regions.c
  soc/arm/st_stm32/stm32h7/sections.ld
Labels: area: Networking, platform: STM32

#17 drivers: adc: Fix error on PCSEL register
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#18 Bugfix/fop 1584/fix adc
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32
