Repository fancom/zephyr, pull requests merged in 2021-11, with the labels that each got.

#39 Feature/fop 3265/update zephyr adc
  drivers/adc/adc_stm32.c
Labels: platform: STM32, area: ADC

#40 FOP-3645 Format unix timestamp in log output
  subsys/logging/Kconfig.formatting
  subsys/logging/log_output.c
Labels: area: Logging

#41 FOP-3645 bugfix of tm struct definition
  subsys/logging/log_output.c
Labels: area: Logging

#42 sntp: kconfig: build sntp for native posix without NET_SOCKET_POSIX_NAMES
  subsys/net/lib/sntp/Kconfig
Labels: area: Networking

#43 manifest: mcuboot update
  west.yml
Labels: area: Modules, manifest, west, manifest-mcuboot

#45 mcuboot: flash: remove redundent kconfig dependency
  drivers/flash/Kconfig
  include/dfu/mcuboot.h
  west.yml
Labels: area: API, area: Build System, area: Modules, manifest, west, manifest-mcuboot

#48 drivers: uart: STM32: restored 9bit support in uart configuration
  drivers/serial/uart_stm32.c
Labels: platform: STM32
